# ---------------[ Unity generated ]------------------ #
Temp/
Obj/
UnityGenerated/
Library/
builds/mac/vrchat.app/
builds/pc/vrchat_Data/
builds/pc/vrchat.exe
builds/pc/vrchat_setup.exe
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
  
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
   
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ------------------[VLC Specific]----------------------#
Patchie/
